
*{
    font-family: "Winky Sans", sans-serif;
}
html {
  min-height: 100%;
  position: relative;
}
body { 
    margin: 0;
}
footer{
    width: 100%;
    margin-top: auto;
}
.input-sin-estilos:focus {
    outline: none;
    box-shadow: none;
    border-color: #d90429;
}
.hover-container:hover .hover-button {
    opacity: 0.9 !important;
}